.homescreen_background {
  background: #dcdcdc;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
}
.homescreen_cover {
  background: linear-gradient(
    114.39deg,
    #7d82e9 12.15%,
    rgba(144, 147, 206, 0.97) 92.37%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 600px) {
  .homescreen_tagline {
    padding-top: 9vh;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 67px;
    line-height: 79px;
    max-width: 600px;
    text-align: center;
    color: #ffffff;
  }
}
@media (max-width: 600px) {
  .homescreen_tagline {
    padding-top: 9vh;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 15vw;
    line-height: 17vw;
    max-width: 600px;
    text-align: center;
    color: #ffffff;
  }
}
@media (min-width: 600px) {
  .homescreen_desc {
    padding-top: 4vh;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 39px;
    align-items: center;
    text-align: center;
    max-width: 600px;
    color: #ffffff;
  }
}
@media (max-width: 600px) {
  .homescreen_desc {
    padding-top: 4vh;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 39px;
    align-items: center;
    text-align: center;
    max-width: 600px;
    color: #ffffff;
  }
}
.homescreen_comingsoon {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  background: #57617b;
  border-radius: 8px;
  border: none;
  padding: 6px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  cursor: not-allowed;
}
.homescreen_getstarted {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  background: #444678;
  border-radius: 8px;
  border: none;
  padding: 6px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  cursor: pointer;
}
.homescreen_box_holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homescreen_box {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 7vh;
  background: #d3d3d3;
  border-radius: 28px;
  padding: 3vw;
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  .homescreen_why {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #424242;
  }
}
@media (max-width: 600px) {
  .homescreen_why {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 7vw;
    line-height: 10vw;
    text-align: center;
    color: #424242;
  }
}
.homescreen_reasons {
  font-size: 30px;
  color: #464646;
  padding-top: 13px;
  padding-bottom: 5px;
}
.homescreen_reason {
  font-family: Open Sans;
}
.floating_bg_box {
  background: linear-gradient(
    115.6deg,
    #7d82e9 12.25%,
    rgba(144, 147, 206, 0.97) 87.23%
  );
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.floating_card {
  background: #eeeeee;
  border-radius: 11px;
  box-shadow: 4px 4px 250px rgba(0, 0, 0, 0.2);
}
@media (min-width: 600px) {
  .setup_card,
  .manager_card {
    padding: 30px;
    padding-left: 45px;
    padding-right: 45px;
    width: 40vw;
    max-width: 400px;
  }
}
@media (max-width: 600px) {
  .setup_card,
  .manager_card {
    padding: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 80vw;
    max-width: 400px;
  }
}
textarea {
  resize: none;
}
.setup_title,
.manager_title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: #333333;
  text-decoration: none;
}
.field_wrapper {
  padding-top: 25px;
}
.field_label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #555555;
  padding-bottom: 4px;
}
.field_input {
  display: block;
  outline: none;
  background: #ebebeb;
  border: 2px solid #e7e7e7;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 29px;
  padding: 5px;
  width: 100%;
  transition: ease 0.1s;
  color: #333333;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
}
textarea.field_input {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
textarea.field_input::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
.field_input:focus {
  border: 2px solid #afafaf;
}
.setup_button_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.setup_button {
  vertical-align: center;
  cursor: pointer;
  background: #444678;
  border-radius: 9px;
  border: 0;
  padding: 10px;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
.manager_button_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.manager_button {
  cursor: pointer;
  border-radius: 9px;
  border: 0;
  padding: 5px 15px 5px 15px;
  margin: 20px;
  margin-bottom: 0px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  margin-left: 0px;
  margin-right: 0px;
}
.share_button {
  background: #3565ad;
}
.delete_button {
  background: #ad3535;
  cursor: not-allowed;
}
button {
  outline: none;
}
.subtext {
  padding-top: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #808080;
}
.manager_new_suggestions {
  padding-top: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  color: #333333;
}
.manager_view_all {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  padding-left: 10px;
  text-decoration-line: underline;

  color: #236eb4;
}
.suggestion_wrapper {
  display: flex;
  justify-content: space-between;
}
.suggestion_right {
  align-items: center;
  display: flex;
  color: #6c6c6c;
  padding: 15px;
}
.suggestion_right > i {
  cursor: pointer;
}
.suggestion_displayname {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 31px;
  color: #333333;
}
.suggestion_desc {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #555555;
  word-break: break-word;
}
.suggestions_holder {
  max-height: 70vh;
  overflow-y: auto;
  margin-left: -10px;
  padding-left: 10px;
  margin-right: -10px;
  padding-right: 10px;
}
.suggest_subtext {
  padding-top: 0px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #808080;
}
.thank_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  line-height: 41px;
  color: #333333;
}
.error {
  padding-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-size: 20px;
}
.trash_title_wrapper {
  display: flex;
  flex-direction: flex-row;
  align-items: center;
  justify-content: space-between;
}
.trash_indicator {
  background: #af3b49;
  border-radius: 53px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 4px 13px 4px 13px;
}
.trash_countdown {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #d56161;
}
.suggestion_columns {
  margin-top: 20px;
  background: #f3f3f3;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 3px;
  padding-left: 13px;
  padding-bottom: 7px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.suggestion_timestamp {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20.5px;
  line-height: 31px;
  color: #858585;
  padding-top: 0;
  padding-left: 5px;
}
.thank_back_button {
  margin-top: 20px;
}
